{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block page_title %}Ajouter des données{% endblock %}

{% block body %}
	
	<div class="row">
	    <div class="col-12">
	    	<div data-turbo="false" data-controller="uploader">
				{{ form_start(form) }}
					<div class="form-row">
						{# {{ form_label(form.source) }} #}
						{{ form_row(form.source, {'attr': {
							'action':path('app_default'),
							'data-action':'change->uploader#onFileChange',
							'accept':'.csv'
							}}) }}
						{{ form_rest(form) }}
						<button data-action="click->uploader#submit">Save</button>
						<span>
							<i class="p-icon--spinner u-animation--spin u-hide" data-uploader-target="spinner"></i>
						</span>
					</div>
				{{ form_end(form) }}
				<div id="grid" ></div>					    		
	    	</div>
	    </div>
	</div>

{% endblock %}
