{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

	<header>
		<nav>
			<ul>
				<li data-turbo="false">
					<a href="{{ path('app_empty_file') }}">
						Télécharger un fichier vide
					</a>
				</li>
			</ul>
		</nav>	
	</header>
	
	{{ dump(app.flashes) }}
	
	{% for message in app.flashes('success') %}
	    <div class="alert alert-success">
	        {{ message }}
	    </div>
	{% endfor %}

	{% for message in app.flashes('error') %}
	    <div class="alert alert-success">
	        {{ message }}
	    </div>
	{% endfor %}

	<div class="row">
	    <div class="col-12">
	    	<div data-turbo="false" data-controller="datagrid">
				{{ form_start(form) }}
					<div class="form-row">
						{# {{ form_label(form.source) }} #}
						{{ form_row(form.source, {'attr': {
							'action':path('app_default'),
							'data-action':'change->datagrid#onFileChange',
							'accept':'.csv'
							}}) }}
						{{ form_rest(form) }}
						<button data-action="click->datagrid#submit">Save</button>
					</div>
				{{ form_end(form) }}
				<div id="grid" ></div>					    		
	    	</div>
	    </div>
	</div>

{% endblock %}
