{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block page_title %}Recherche{% endblock %}

{% block body %}

	<div data-controller="search">
		
		<div class="row">
		    <div class="col-12">
		    	<div data-turbo=false class="mb-4">

		    		{{ form_start(form, {'attr':{'action':path('app_search')}}) }}
		    			<div class="row">
		    				<div class="col-4">

		    					{{ form_row(form.nom_comm) }}
		    					{{ form_row(form.genre) }}



		    					{{ form_row(form.num_exp) }}
		    					{{ form_row(form.type_exp) }}
		    					{{ form_row(form.site_essai) }}
		    					{{ form_row(form.syst_essai) }}
		    					{{ form_row(form.lot_cell) }}
		    					{{ form_row(form.passage) }}
		    					{{ form_row(form.stress) }}
		    					{{ form_row(form.temps_traitement) }}
		    					{{ form_row(form.pourcentage_produit) }}

		    				</div>
		    				<div class="col-4">

		    					{{ form_row(form.nom_item) }}

		    					<div data-controller="autocomplete" data-autocomplete-url-value="{{ path('app_gene_lookup') }}">
		    						{{ form_row(form.gene, {'attr': {
				    					'data-action':'input->autocomplete#change',
				    					'autocomplete':'off',
				    					'data-autocomplete-target':'input'
				    				}}) }}
				    				<div data-autocomplete-target="list" class="u-hide">
				    					
				    				</div>
		    					</div>
		    					    					
		    					{{ form_row(form.gene_corr) }}
								{{ form_row(form.prot_corr) }}
		    					{{ form_row(form.prot_analyse) }}
		    					{{ form_row(form.projet) }}
		    					{{ form_row(form.notation) }}
	

		    				</div>
		    				
		    				<div class="col-4">
		    					{{ form_row(form.ref_produit) }}

		    					{{ form_row(form.espece) }}
		    					{{ form_row(form.fold_change) }}
		    					{{ form_row(form.augm_dim) }}
		    					{{ form_row(form.num_item) }}
		    					{{ form_row(form.type_echantillon) }}
		    					{{ form_row(form.nom_rec_dev) }}

		    				</div>
		    			</div>

		    			<button data-action="click->search#submit">Rechercher</button>
		    			{{ form_row(form.reset, {'attr': 
		    				{
		    					'data-action':'click->search#reset',
		    					'class':'u-hide',
		    					'data-search-target':'resetBtn',  
		    				}}) }}
		    			{{ form_row(form.export, {'attr': 
		    				{
		    					'class':'u-hide',
		    					'data-search-target':'exportBtn', 
		    				}}) 
		    			}}

		    			{# <button data-action="aside-panel#toggleCollapse">Toggle</button> #}
		    		{{ form_end(form) }}
		    	</div>
		    </div>
		</div>

		<div class="row u-hide" data-search-target="grid">
			<div class="col-12">
		    	<div data-turbo="false" data-controller="datagrid">
					<div id="grid"></div>					    		
		    	</div>
			</div>
		</div>

	</div>

{% endblock %}

