<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body class="is-paper" data-controller="aside-panel">

        <div class="l-application app-codif" role="presentation">

            {% block navigation %}

                <div class="l-navigation-bar">
                    <div class="p-panel is-dark is-jaas-background">
                        <div class="p-panel__header">
                            <a class="p-panel__logo" href="#">
                                <img class="p-panel__logo-icon" src="https://assets.ubuntu.com/v1/7144ec6d-logo-jaas-icon.svg" alt="" width="24" height="24">
                                <img class="p-panel__logo-name is-fading-when-collapsed" src="https://assets.ubuntu.com/v1/2e04d794-logo-jaas.svg" alt="CODIF" height="16">
                            </a>
                            <div class="p-panel__controls">
                                <span class="p-panel__toggle js-menu-toggle">Menu</span>
                            </div>
                        </div>
                    </div>
                </div>
                <header class="l-navigation is-collapsed">
                    <div class="l-navigation__drawer u-no-padding">
                        <div class="p-panel is-dark is-jaas-background">
                            <div class="p-panel__header">
                                <a class="p-panel__logo" href="/">
                                    <img class="p-panel__logo-icon" src="{{ asset('assets/logo_codif.svg') }}" alt="" width="24" height="24">
                                    <span style="font-size:1.5rem;font-weight: bold;color: #fff;margin-left: 1rem;">
                                        CODIF
                                    </span>
                                </a>
                                <div class="p-panel__controls u-hide--large">
                                    <button class="p-button--base is-dark has-icon u-no-margin u-hide--medium js-menu-close"><i class="is-light p-icon--close"></i></button>
                                    <button class="p-button--base is-dark has-icon u-no-margin u-hide--small js-menu-pin"><i class="is-light p-icon--pin"></i></button>
                                </div>
                            </div>
                            <div class="p-panel__content">
                                <nav class="p-side-navigation--icons" aria-label="Main">
                                    <ul class="p-side-navigation__list">
                                        <li class="p-side-navigation__item">
                                            <a class="p-side-navigation__link" href="{{ path('app_search') }}" aria-current="page">
                                                <i class="p-icon--search p-side-navigation__icon"></i>
                                                <span class="p-side-navigation__label">Recherche</span>
                                            </a>
                                        </li>
                                        <li class="p-side-navigation__item">
                                            <a class="p-side-navigation__link" href="{{ path('app_default') }}">
                                                <i class="p-icon--plus p-side-navigation__icon"></i>
                                                <span class="p-side-navigation__label">
                                                    Ajouter
                                                </span>
                                            </a>
                                        </li>
                                        <li class="p-side-navigation__item">
                                            <a class="p-side-navigation__link" href="{{ path('app_data_source_index') }}">
                                                <i class="p-icon--containers p-side-navigation__icon is-light"></i>
                                                <span class="p-side-navigation__label">
                                                    Sources
                                                </span>
                                            </a>
                                        </li>
                                        <li class="p-side-navigation__item">
                                            <a class="p-side-navigation__link" href="{{ path('app_user_index') }}">
                                                <i class="p-icon--user-group p-side-navigation__icon is-light"></i>
                                                <span class="p-side-navigation__label">
                                                    Utilisateurs
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="p-side-navigation__list">
                                        <li class="p-side-navigation__item" data-turbo="false" style="border-top: 2px solid blue;">
                                            <a class="p-side-navigation__link" href="{{ path('app_empty_file') }}">
                                                <i class="p-icon--begin-downloading p-side-navigation__icon is-light"></i>
                                                <span class="p-side-navigation__label">
                                                    Fichier vierge
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>

            {% endblock %}
            
            <main class="l-main">

                {% block page_header %}
                    <header class="row">
                        <h2>
                            {% block page_title %}
                            {% endblock %}
                        </h2>
                    </header>
                {% endblock %}

                {%  block message  %}

                    <div class="row">
                        <div class="col-12">
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    {% set notification_state = label == 'success' ? 'positive' : 'negative' %}
                                    <div class="p-notification--{{ notification_state }}">
                                        <div class="p-notification__content">
                                            <h5 class="p-notification__title">{{ label }}</h5>
                                            <p class="p-notification__message">
                                                {{ message }}
                                            </p>
                                            {# <button class="p-notification__close" aria-controls="notification">Close</button> #}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>

                {% endblock %}

                {% block body %}

                    <p>
                        <code>l-main</code>
                    </p>
                    <p class="u-clearfix">
                        <button class="js-aside-open">Open aside panel</button>
                    </p>
                    
                {% endblock %}
            </main>

            {% block aside_panel %}
            {% endblock %}
            
        </div>

    </body>
</html>
