{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block page_title %}Utilisateurs{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Identiant</th>
                        <th>Roles</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {# {{ dump(user.roless) }} #}
                    {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}">Editer</a>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="8">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="{{ path('app_user_new') }}">
                {# <i class="p-icon--plus"></i> #}
                Créer un utilisateur
            </a>
        </div>
    </div>
{% endblock %}
